{%load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
		<link rel="icon" href="{% static 'favicon.ico' %}" >
		<title>Projekt PKM</title>
	</head>
	<body>
		<h1>Panel kontrolny PKM</h1>
		
		<a href="{% url 'home' %}" class="button">Przejdź do sterowania</a>
		<br>
		<br>
		
		<table border="1">
			<thead>
				<tr>
					<th>
						Numer pociągu
					</th>
					<th>
						Prędkość
					</th>
					<th>
						Urządzenie
					</th>
				</tr>
			</thead>
			<tbody>
				{% for tr in trainRequests %}
					<tr>
						<td>
							{{ tr.train_identificator }}<br>
						</td>
						<td>
							{{ tr.velocity }}
						</td>
						<td>
							{{ tr.device_type }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
			
	</body>
</html>