{%load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
		<link rel="icon" href="{% static 'favicon.ico' %}" >
		<title>Projekt PKM</title>
	</head>
	<body>
		<h1>Panel kontrolny PKM</h1>
		
		<a href="{% url 'home' %}" class="button">Przejdź do sterowania</a>

		 <table border="1">
			  <thead>
				<tr>
				  <th>Board</th>
				  <th>Posts</th>
				  <th>Topics</th>
				  <th>Last Post</th>
				</tr>
			  </thead>
			  <tbody>
				{% for tr in trainRequests %}
				  <tr>
					<td>
					  {{ tr.velocity }}<br>
					  <small style="color: #888">{{ tr.velocity}}</small>
					</td>
					<td>0</td>
					<td>0</td>
					<td></td>
				  </tr>
				{% endfor %}
			  </tbody>
			</table>
			
	</body>
</html>